NODE_ENV=dev           # dev | prod
PORT=6000


# =================== DATABASE CONFIGS ======================
# DB_NAME=homely-food
DB_NAME=homely-food-prod
DB_URL=mongodb://localhost:27017/homely_food


# =================== SECURITY SETTINGS ======================
CORS_ENABLED=true
ALLOWED_ORIGINS=http://localhost:4000,https://animark.com
RATE_LIMIT_MAX=100                                # Requests per window
RATE_LIMIT_ENABLED=true
RATE_LIMIT_WINDOW_MS=60000                        # In ms, e.g. 60000 = 1 minute


# =================== AUTH & JWT CONFIG =======================
ACCESS_MAX_AGE=30
REFRESH_MAX_AGE=30
JWT_SECRET=kasdjaskjdsakjdjkaskjdkjadjkakjd
JWT_EXPIRES_IN=7d
REFRESH_TOKEN_SECRET=kasdjaskjdsakjdjkaskjdkjadjkakjd
REFRESH_EXPIRES_IN=30d


# =================== RESEND EMAIL CONFIG =======================
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxx
EMAIL_FROM=onboarding@resend.dev


# =================== REDIS CONFIG =======================
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=


# =================== CLIENT CONFIG =======================
CLIENT_URL=http://localhost:3000


# =================== CLOUDINARY CONFIG =======================
CLOUDINARY_CLOUD_NAME=asjkdasjkds
CLOUDINARY_API_KEY=9881238129831299213
CLOUDINARY_API_SECRET=aksdkjasdjkasjd_sdkajsdjkas


# =================== ADMIN CREDENTIALS =======================
ADMIN_EMAIL=admin@homlyfoods.com
ADMIN_PASSWORD=HomlyFoods@123+


# =================== RAZORPAY CONFIG =======================
RAZORPAY_WEBHOOK_SECRET=rzp_xxxxxxxxxxxxxxxxxxxxx
RAZORPAY_CONFIG_ID=config_TQVwBmNR7Ffsjsk
PAYMENT_ORDER_TTL_MINUTES=20
PAYMENT_CURRENCY=INR

# ========= RAZORPAY TEST =========
RAZORPAY_KEY_ID=rzp_test_TQTsasjdajskdakjsd
RAZORPAY_KEY_SECRET=asdksa89213masmdsa
